.card_nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
}
.card_nav .card_btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    gap: 10px;
    cursor: pointer;
}
.card_nav .card_btn img{
    width: 100px;
    height: 30px;
}
main{
    width: 100%; 
    height: auto; 
    padding:10px 0 20px 0; 
    display:flex; 
    flex-direction:row; 
    gap:50px
}
.cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cards .card_job{
    background-color: white;
    width: 500px;
    height: auto;
    box-shadow: 0px 0px 10px 0px #e5e5e5;
    border-radius: 10px;
    margin-left: 20px;
}
.card{
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 0px 10px 0px #e5e5e5;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
}
.card_img{
    width: 100%;
    height: 160px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}
.card_text{
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
}
.card_type{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    margin-left: 10px;
}
.card_type span{
    font-size: 14px;
    font-weight: 500;
}
.card_text .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card_text .title h5{
    font-size: 18px;
}
.card_text .title i{
    cursor: pointer;
}
.card_text p{
    font-size: 14px;
    font-weight: 200;
    color: gray;
}
.card_text .job_detail{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.card_text .job_detail button{
    border: solid 1px #e5e5e5;
    border-radius: 6px;
    font-size: 14px;
    color: green;
}
.card_text .location{
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-size: 14px;
    font-weight: 200;
}
.card_text .items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card_text .items .name span{
    font-size: 14px;
    font-weight: 700;
}
.card_text .items .icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}
.card_text .items .icons .views{
    color: gray;
    font-size: 14px;
}
.card_text .items .icons .share{
    width: 30px;
    height: 30px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}
.card_text .items .icons .share i{
    font-size: 18px;
}